<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" href="assets/img/icon.png" type="image/png">

    
    
    <title>AI Potato</title>
</head>
<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <i class="ri-leaf-line nav__logo-icon"></i> AI Potato
            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">About</a>
                    </li>
                    <li class="nav__item">
                        <a href="#steps" class="nav__link">Analyze</a>
                    </li>
                    <li class="nav__item">
                        <a href="#faqs" class="nav__link">FAQs</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link">Contact Us</a>
                    </li>
                    <li class="nav__item">
                        <a href="/login" class="nav__link"><i class="fa-regular fa-user"></i></a>
                    </li>
                    
                </ul>
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <div class="nav__btns">
                <i class="ri-moon-line change-theme" id="theme-button"></i>
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>
    </header>

    <main class="main">
        <section class="home" id="home">
            <h3 class="username">hello {{username}}</h3>
            <div class="home__container container grid">
                <img src="{{ url_for('static', filename='assets/img/home.png') }}" alt="" class="home__img">
                <div class="home__data">
                    <h1 class="home__title">Healthy Plant<br>Healthy Life</h1>
                    <p class="home__description">Do you want to test whether the potato plant you grow has diseases?</p>
                    <a href="#steps" class="button button--flex">Let's Try <i
                            class="ri-arrow-right-down-line button__icon"></i></a>
                </div>
                <div class="home__social">
                    <span class="home__social-follow">Follow Us</span>
                    <div class="home__social-links">
                        <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                            <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="home__social-link">
                            <i class="ri-twitter-fill"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="about section container" id="about">
            <div class="about__container grid">
                <img src="{{ url_for('static', filename='assets/img/about.png') }}" alt="" class="about__img">
                <div class="about__data">
                    <h2 class="section__title about__title">Who we really are & <br> why choose us</h2>
                    <p class="about__description">We have over 4000+ unbiased reviews and our customers trust our plant
                        process and delivery service every time</p>
                    <div class="about__details">
                        <p class="about__details-description">
                            <i class="ri-checkbox-fill about__details-icon"></i>
                            Highly accurate prediction!
                        </p>
                        <p class="about__details-description">
                            <i class="ri-checkbox-fill about__details-icon"></i>
                            Very fast analysis!
                        </p>
                        <p class="about__details-description">
                            <i class="ri-checkbox-fill about__details-icon"></i>
                            Determining which type of disease you have.
                        </p>
                        <p class="about__details-description">
                            <i class="ri-checkbox-fill about__details-icon"></i>
                            Completely free!
                        </p>
                    </div>
                    <a href="#steps" class="button--link button--flex">Analyze <i
                            class="ri-arrow-right-down-line button__icon"></i></a>
                </div>
            </div>
        </section>

        <section class="steps section container" id="steps">
            <div class="steps__bg">
                <form action="{{url_for('upload_post')}}" method="post">
                <div class="drag-area" id="drag-area" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)">
                    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                    <header>Drag and Drop File or Click to Select</header>
                    <input type="file" name="file" id="file" onchange="file_browse(event)">
                </div>
                <div class="preview" id="preview">
                    <img id="previewImage" src="" alt="Preview">
                </div>
                <div class="row aiButtons" id="aiButtons">
                
                    <label class="locationCheckbox" style="margin-top: 12px;" for="locationCheckbox">Save Location
                        <input type="checkbox" id="locationCheckbox" name="locationCheckbox">
                    </label>
                    <button class="clearButton " onclick="clearFile()">Clear</button>
                    <button class="analyzeButton" onclick="analyzeFile()">Analyze</button>
                </div>
            </form>
                <div class="steps__container grid">
                    <div class="steps__card">
                        <div class="steps__card-number">01</div>
                        <h3 class="steps__card-title">Choose Plant</h3>
                        <p class="steps__card-description">Select Photo of Potato.</p>
                    </div>
                    <div class="steps__card">
                        <div class="steps__card-number">02</div>
                        <h3 class="steps__card-title">Place an order</h3>
                        <p class="steps__card-description">Once your order is set, we move to the next step which is the shipping.</p>
                    </div>
                    <div class="steps__card">
                        <div class="steps__card-number">03</div>
                        <h3 class="steps__card-title">Get plants delivered</h3>
                        <p class="steps__card-description">Our delivery process is easy, you receive the plant direct to your door.</p>
                    </div>
                </div>
            </div>
            
        </section>

        <section class="product section container" id="products">
            <h2 class="section__title-center">Sample Test <br> Results</h2>
            <p class="product__description">We tested the result by sending potato photos to the server. All tests have
                been completed successfully.</p>
            <div class="product__container grid">
                <article class="product__card">
                    <div class="product__circle"></div>
                    <img src="{{ url_for('static', filename='assets/img/sample3.png') }}" alt="" class="product__img">
                    <h3 class="product__title">Illness: Early Blight</h3>
                    <span class="product__price">Occur : %99</span>
                    <button class="button--flex product__button"><i class="fa fa-stethoscope"></i></button>
                </article>
                <article class="product__card">
                    <div class="product__circle"></div>
                    <img src="{{ url_for('static', filename='assets/img/sample2.png') }}" alt="" class="product__img">
                    <h3 class="product__title">Illness: Healthy Potato</h3>
                    <span class="product__price">Occur : %99</span>
                    <button class="button--flex product__button"><i class="bi bi-check-lg"></i></button>
                </article>
                <article class="product__card">
                    <div class="product__circle"></div>
                    <img src="{{ url_for('static', filename='assets/img/sample1.png') }}" alt="" class="product__img">
                    <h3 class="product__title">Illness: Late Blight</h3>
                    <span class="product__price">Occur : %99</span>
                    <button class="button--flex product__button"><i class="fa fa-stethoscope"></i></button>
                </article>
            </div>
        </section>

        <section class="questions section" id="faqs">
            <h2 class="section__title-center questions__title container">Some common questions <br> were often asked
            </h2>
            <div class="questions__container container grid">
                <div class="questions__group">
                    <div class="questions__item">
                        <header class="questions__header">
                            <i class="ri-add-line questions__icon"></i>
                            <h3 class="questions__item-title">My flowers are falling off or dying?</h3>
                        </header>
                        <div class="questions__content">
                            <p class="questions__description">Plants are easy way to add color energy and transform your
                                space but which planet is for you. Choosing the right plant.</p>
                        </div>
                    </div>
                    <div class="questions__item">
                        <header class="questions__header">
                            <i class="ri-add-line questions__icon"></i>
                            <h3 class="questions__item-title">What causes leaves to become pale?</h3>
                        </header>
                        <div class="questions__content">
                            <p class="questions__description">Plants are easy way to add color energy and transform your
                                space but which planet is for you. Choosing the right plant.</p>
                        </div>
                    </div>
                    <div class="questions__item">
                        <header class="questions__header">
                            <i class="ri-add-line questions__icon"></i>
                            <h3 class="questions__item-title">What causes brown crispy leaves?</h3>
                        </header>
                        <div class="questions__content">
                            <p class="questions__description">Plants are easy way to add color energy and transform your
                                space but which planet is for you. Choosing the right plant.</p>
                        </div>
                    </div>
                </div>
                <div class="questions__group">
                    <div class="questions__item">
                        <header class="questions__header">
                            <i class="ri-add-line questions__icon"></i>
                            <h3 class="questions__item-title">How do i choose a plant?</h3>
                        </header>
                        <div class="questions__content">
                            <p class="questions__description">Plants are easy way to add color energy and transform your
                                space but which planet is for you. Choosing the right plant.</p>
                        </div>
                    </div>
                    <div class="questions__item">
                        <header class="questions__header">
                            <i class="ri-add-line questions__icon"></i>
                            <h3 class="questions__item-title">How do I change the pots?</h3>
                        </header>
                        <div class="questions__content">
                            <p class="questions__description">Plants are easy way to add color energy and transform your
                                space but which planet is for you. Choosing the right plant.</p>
                        </div>
                    </div>
                    <div class="questions__item">
                        <header class="questions__header">
                            <i class="ri-add-line questions__icon"></i>
                            <h3 class="questions__item-title">Why are gnats flying around my plant?</h3>
                        </header>
                        <div class="questions__content">
                            <p class="questions__description">Plants are easy way to add color energy and transform your
                                space but which planet is for you. Choosing the right plant.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="product section container" id="pastAnalysis">
            <h2 class="section__title-center">Your Past Analysis</h2>
            <p class="product__description">You can find his previous analyzes here.</p>
            <div class="product__container grid">
                {% for item in data %}
                <article class="product__card">
                    <div class="product__circle"></div>
                    <!-- Fotoğraf verisi item[1] sütunundan çekiliyor -->
                    <img src="{{ url_for('static', filename='assets/img/' + item[1]) }}" alt="Analysis Image" class="product__img">
                    <h3 class="product__title">Illness: {{ item[2] }}</h3> <!-- 2. sütun verisi -->
                    <span class="product__price">Occur : {{ item[3] }}%</span> <!-- 3. sütun verisi -->
                    <button class="button--flex product__button"><i class="fa fa-stethoscope"></i></button>
                </article>
                {% endfor %}
            </div>
        </section>
        

        <section class="contact section container" id="contact">
            <div class="contact__container grid">
                <div class="contact__box">
                    <h2 class="section__title">Consult us on <br>any subject <br>you want</h2>
                    <div class="contact__data">
                        <div class="contact__information">
                            <h3 class="contact__subtitle">Call us for instant support</h3>
                            <span class="contact__description">
                                <i class="ri-phone-line contact__icon"></i>
                                +90 551 844 71 65
                            </span>
                        </div>
                        <div class="contact__information">
                            <h3 class="contact__subtitle">Write us by mail</h3>
                            <span class="contact__description">
                                <i class="ri-mail-line contact__icon"></i>
                                aipotato@gmail.com
                            </span>
                        </div>
                    </div>
                </div>
                <form action="" class="contact__form">
                    <div class="contact__inputs">
                        <div class="contact__content">
                            <input type="email" placeholder=" " class="contact__input">
                            <label for="" class="contact__label">Email</label>
                        </div>
                        <div class="contact__content">
                            <input type="text" placeholder=" " class="contact__input">
                            <label for="" class="contact__label">Subject</label>
                        </div>
                        <div class="contact__content contact__area">
                            <textarea name="message" placeholder=" " class="contact__input"></textarea>
                            <label for="" class="contact__label">Message</label>
                        </div>
                    </div>
                    <button class="button button--flex">
                        Send Message
                        <i class="ri-arrow-right-up-line button__icon"></i>
                    </button>
                </form>
            </div>
        </section>
    </main>

</footer>

<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-fill scrollup__icon"></i>
</a>

<script src="{{url_for('static', filename='scrollreveal.min.js')}}"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>

<script>
document.addEventListener('dragover', dragOverHandler);
document.addEventListener('drop', dropHandler);

const dropArea = document.querySelector(".drag-area");
const dragText = dropArea.querySelector("header");
const input = dropArea.querySelector("input[type='file']");
const aiButtons = document.getElementById("aiButtons");
const locationCheckbox = document.getElementById("locationCheckbox");
let uploadedFile;
let userLatitude = null;
let userLongitude = null;

function dragOverHandler(event) {
    event.preventDefault();
    dropArea.classList.add("active");
    dragText.textContent = "Release to Upload File";
}

function dropHandler(event) {
    event.preventDefault();
    dropArea.classList.remove("active");
    dragText.textContent = "Drag and Drop File";

    uploadedFile = event.dataTransfer.files[0];
    showFile(uploadedFile);
    dropArea.style.display = 'none'; // Drag alanını gizle
}

input.addEventListener("change", function (event) {
    uploadedFile = event.target.files[0];
    showFile(uploadedFile);
    dropArea.style.display = 'none'; // Drag alanını gizle
});

function showFile(file) {
    const reader = new FileReader();
    reader.onload = function(event) {
        document.getElementById('previewImage').src = event.target.result;
        document.getElementById('preview').style.display = 'block';
        aiButtons.style.display = 'flex'; // Dosya yüklendiğinde butonları göster
    };
    reader.readAsDataURL(file);
}

function clearFile() {
    uploadedFile = null;
    document.getElementById('file').value = '';
    document.getElementById('preview').style.display = 'none';
    aiButtons.style.display = 'none'; // Temizle butonuna basıldığında butonları gizle
    dropArea.style.display = 'flex'; // Drag alanını tekrar görünür yap
}

function analyzeFile() {
    // Önceki analiz sonuçlarını temizle
    const existingResults = document.querySelectorAll('#preview p');
    existingResults.forEach(result => result.remove());

    if (uploadedFile) {
        const formData = new FormData();
        formData.append('file', uploadedFile);

        if (locationCheckbox.checked) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    position => {
                        userLatitude = position.coords.latitude;
                        userLongitude = position.coords.longitude;

                        // Konum bilgilerini formData'ya ekle
                        formData.append('latitude', userLatitude);
                        formData.append('longitude', userLongitude);

                        // Dosya ve konum bilgilerini sunucuya gönder
                        sendFile(formData);
                    },
                    error => {
                        alert('Konum alınamadı: ' + error.message);
                    }
                );
            } else {
                alert('Tarayıcınız konum servislerini desteklemiyor.');
            }
        } else {
            // Konum bilgisi olmadan dosyayı gönder
            sendFile(formData);
        }
    } else {
        alert('Lütfen bir dosya yükleyin.');
    }
}

function sendFile(formData) {
    fetch('/upload', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            alert(data.error);
        } else {
            const resultElement = document.createElement('p');
            resultElement.textContent = `Predicted: ${data.predicted_class_name}, Confidence: ${data.confidence}`;
            if (data.latitude && data.longitude) {
                resultElement.textContent += `, Location: (${data.latitude}, ${data.longitude})`;
            }
            document.getElementById('preview').appendChild(resultElement);
            resultElement.style.color = 'white';
        }
    })
    .catch(error => {
        console.error(error);
        alert('Dosya yüklenirken bir hata oluştu.');
    });
}
</script>
<script src="https://kit.fontawesome.com/978d53435b.js" crossorigin="anonymous"></script>
</body>
</html>
